{{ partial "head.html" . }}
{{ partial "nav.html" . }}

<main>
	<header>
    <h4>
      <small>
        {{ .Date.Format "2 January 2006" }}
      </small>
    </h4>
		<h1>
      {{ .Title }}
    </h1>
    {{ if .Params.Subtitle }}
      <h5>{{ .Params.Subtitle }}</h5>
    {{ end }}
	</header>

  {{ partial "share-buttons.html" . }}

	<article>
		{{ .Content }}
	</article>
</main>

{{ if .Site.DisqusShortname }}
  {{ template "_internal/disqus.html" . }}
{{ end }}

<div id="bottom-nav" class="text-center center-block">
	<a href=" {{ .Site.BaseURL }}" class="btn btn-default"><i class="fa fa-home"></i> Home</a>
</div>

{{ partial "footer.html" . }}
