pre {
  overflow-x: scroll;
  word-wrap: normal;
}
pre code {
  white-space: pre;
}
main article p > img {
  max-width: 100%;
}
#content {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
